<!--  blog/templates/blog/detail.html -->

{% extends "base_blog.html" %}


{% block page_title %}
    <h1 class="italic text-4xl mx-auto py-1">{{ post.title }}</h1>
{% endblock page_title %}

{% block page_content %}
<hr>
<div class="grid md:grid-cols-3 mx-auto">
    <div class="ml-4 p-5   card border rounded bg-white ">
        <h1>Details of blog</h1>
        <p>{{ post.body  }}</p>
    </div>
    <div></div>
    <div class="mr-4">
        <h3>Leave a comment:</h3>
        <form method="post">
            {% csrf_token %}
            {% include 'blog/comment_blog.html'%}
        </form>
    </div>
</div>
<hr>
<div>
    {% include 'blog/comment_list.html'%}
</div>



{% endblock page_content %}